body {
  font-family: 'Poppins', sans-serif;
  background-color: #868484;
  margin: 0;
  padding: 1rem;
}

#sort{
    border-radius: 10px;
    background-color: rgb(201, 191, 177);
   border: 1px solid #ffffff;

}
#genre{
    border-radius: 10px;
     background-color: rgb(201, 191, 177);
     border: 1px solid #ffffff;
}
.container {
  max-width: 1000px;
  margin: auto;
  background: #1886bdef;
  padding: 1rem;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: bisque;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.controls select {
  padding: 0.5rem;
  width: 48%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.movie {
  background: lab(80.02% -9.99 -24.27);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;
  cursor: pointer;
}

.movie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.movie h3 {
  margin: 0.5rem 0;
  ;
}

.pagination {
  text-align: center;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}
#prevBtn,#nextBtn{
    border: none;
    border-radius: 5px;
    background-color: rgb(206, 242, 243);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      cursor: pointer;
}
#prevBtn:hover,#nextBtn:hover{
     background-color: rgb(191, 229, 231);
}
#pageNum{
    color: bisque;
}
